{% extends 'revision_base.html' %}
{% load sort_tags %}  <!-- Načte vlastní templatetag -->

{% block title %}Lifetimes of PPE{% endblock %}

{% block revision_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{% url 'add_lifetime_of_ppe' %}" class="btn btn-primary mb-3">Add Lifetime PPE</a>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h2>List of Lifetimes</h2>
        </div>
    </div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">{% sort_link request 'id' '#' %}</th>
                <th scope="col">{% sort_link request 'manufacturer__name' 'Manufacturer' %}</th>
                <th scope="col">{% sort_link request 'material_type__name' 'Material Type' %}</th>
                <th scope="col">{% sort_link request 'lifetime_use_years' 'Lifetime first use (Years)' %}</th>
                <th scope="col">{% sort_link request 'lifetime_manufacture_years' 'Lifetime manufacture (Years)' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lifetime in lifetimes_of_ppe %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ lifetime.manufacturer.name }}</td>
                <td>{{ lifetime.material_type.name }}</td>
                <td>{{ lifetime.lifetime_use_years }}</td>
                <td>{{ lifetime.lifetime_manufacture_years }}</td>
                <td>
                    <a href="{% url 'lifetime_of_ppe_detail' lifetime.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'edit_lifetime_of_ppe' lifetime.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete_lifetime_of_ppe' lifetime.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No lifetime data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}