{% extends 'revision_base.html' %}
{% load sort_tags %}  <!-- Načte vlastní templatetag -->

{% block title %}Materials Type{% endblock %}

{% block revision_content %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <a href="{% url 'add_material_type' %}" class="btn btn-primary">Add Material Type</a>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h2>List of Material Types</h2>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% sort_link request 'id' '#' %}</th>
                <th scope="col">Symbol</th>
                <th scope="col">{% sort_link request 'name' 'Name' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for material_type in materials_type %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {% if material_type.symbol %}
                    <img src="{{ material_type.symbol.url }}" alt="{{ material_type.name }}" style="height: 50px;">
                    {% else %}
                    <span>No image</span>
                    {% endif %}
                </td>
                <td>{{ material_type.name }}</td>
                <td>
                    <a href="{% url 'material_type_detail' material_type.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'edit_material_type' material_type.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete_material_type' material_type.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No material types found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}