{% extends 'revision_base.html' %}

{% block title %}
Material Type Detail
{% endblock %}

{% block revision_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Material Type Detail</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>{{ object.name }}</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">{{ object.name }}</dd>
                        {% if object.symbol %}
                        <dt class="col-sm-4">Symbol</dt>
                        <dd class="col-sm-8">
                            <img src="{{ object.symbol.url }}" alt="{{ object.name }}" class="img-fluid mb-3" style="max-width: 200px;">
                        </dd>
                        {% endif %}
                        <!-- Přidej další atributy MaterialType podle potřeby -->
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-secondary" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Zpět
                    </button>
                    {% if user.is_authenticated %}
                    <a href="{% url 'edit_material_type' object.pk %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'delete_material_type' object.pk %}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}