{% extends 'revision_base.html' %}
{% load sort_tags %}  <!-- Načte vlastní templatetag -->

{% block title %}Revision Data{% endblock %}

{% block revision_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            {% if user.is_authenticated %}
            <a href="{% url 'add_revision_data' %}" class="btn btn-primary mb-3">Add Revision Data</a>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 text-center">
            <h2>List of Revision Data</h2>
        </div>
    </div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">{% sort_link request 'id' '#' %}</th>
                <th scope="col">Image</th>
                <th scope="col">{% sort_link request 'lifetime_of_ppe__manufacturer__name' 'Manufacturer' %}</th>
                <th scope="col">{% sort_link request 'type_of_ppe__group_type_ppe' 'Group Type' %}</th>
                <th scope="col">{% sort_link request 'name_ppe' 'Name PPE' %}</th>
                <th scope="col">Standards</th>
                <th scope="col">{% sort_link request 'manual_for_revision' 'Manual' %}</th>
                <th scope="col">{% sort_link request 'notes' 'Notes' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in revisions_data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {% if data.image_items %}
                    <img src="{{ data.image_items.url }}" alt="Image" style="width:100px;height:auto;">
                    {% endif %}
                </td>
                <td>{{ data.lifetime_of_ppe.manufacturer.name }}</td>
                <td>{{ data.type_of_ppe.group_type_ppe }} - {{ data.type_of_ppe.price|floatformat:0 }} Kč</td>
                <td>{{ data.name_ppe }}</td>
                <td>
                    {% for standard in data.standard_ppe.all %}
                    {{ standard }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if data.manual_for_revision %}
                    <a href="{{ data.manual_for_revision.url }}" target="_blank">View Manual</a>
                    {% endif %}
                </td>
                <td>{{ data.notes }}</td>
                <td>
                    <a href="{% url 'revision_data_detail' data.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'edit_revision_data' data.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete_revision_data' data.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center">No revision data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     {% include "includes/pagination.html" %}
</div>
{% endblock %}