{% extends "revision_base.html" %}

{% block title %}Revision form{% endblock %}

{% block revision_content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
   <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <table>
           {{ form.as_table }}
           {% if show_add_revision_data_button %}
           <tr>
               <td colspan="2">
                   <a href="{% url 'add_revision_data' %}?next={{ request.path }}" class="btn btn-secondary">Add New Revision Data</a>
               </td>
           </tr>
           {% endif %}
       </table>
       <input type="submit" id="id_submit" value="Ulozit" class="btn btn-primary">
   </form>

   <script type="text/javascript">
       // Inicializace Select2
       $(document).ready(function() {
           $('.select2').select2();
       });
   </script>
{% endblock %}