{% extends 'revision_base.html' %}
{% block title %}Standards PPE List{% endblock %}
{% block revision_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{% url 'add_standard_ppe' %}" class="btn btn-primary mb-3">Add Standard PPE</a>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h2>List of Standards PPE</h2>
        </div>
    </div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">
                    <a href="?q={{ request.GET.q }}&sort_by=id&sort_order={% if request.GET.sort_by == 'id' and request.GET.sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        #
                    </a>
                </th>
                <th scope="col">
                    <a href="?q={{ request.GET.q }}&sort_by=code&sort_order={% if request.GET.sort_by == 'code' and request.GET.sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Code
                    </a>
                </th>
                <th scope="col">
                    <a href="?q={{ request.GET.q }}&sort_by=description&sort_order={% if request.GET.sort_by == 'description' and request.GET.sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Description
                    </a>
                </th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for standard in standards_ppe %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ standard.code }}</td>
                    <td>{{ standard.description|truncatewords:10 }}</td>
                    <td>
                        {% if standard.image %}
                            <img src="{{ standard.image.url }}" alt="Standard Image" style="width:100px;height:auto;">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'standard_ppe_detail' standard.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                        <a href="{% url 'edit_standard_ppe' standard.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete_standard_ppe' standard.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No standard PPE found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}