{% extends 'base.html' %}

{% block title %}Detail: {{ company.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Company Detail</h2>
    <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.name }}</dd>

        <dt class="col-sm-3">Country:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.country.name }}</dd>

        <dt class="col-sm-3">Address:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.address }}</dd>

        <dt class="col-sm-3">City:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.city }}</dd>

        <dt class="col-sm-3">Postcode:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.postcode }}</dd>

        <dt class="col-sm-3">Phone Number:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.phone_number }}</dd>

        <dt class="col-sm-3">Business ID:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.business_id }}</dd>

        <dt class="col-sm-3">Tax ID:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.tax_id }}</dd>

        <dt class="col-sm-3">Date Joined:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.date_joined }}</dd>

        <dt class="col-sm-3">Last Updated:</dt>
        <dd class="col-sm-9 border-bottom pb-2">{{ company.last_updated }}</dd>
    </dl>
    <div class="mt-4">
        <button type="button" class="btn btn-secondary" onclick="history.back()"><i class="fas fa-arrow-left"></i></button>
        <a href="{% url 'edit_company' company.pk %}?next={{ request.path }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" href="{% url 'delete_company' company.pk %}"><i class="fas fa-trash-alt"></i></a>
        <a class="btn btn-info" href="{% url 'item_group_list' %}"><i class="fas fa-eye"></i> Item Groups</a>
        
    </div>
</div>
{% endblock %}