{% extends 'base.html' %}
{% load sort_tags %}  <!-- Import vlastní značky, pokud potřebuješ -->

{% block title %} Company Item Groups {% endblock %}

{% block content %}
    {% include 'includes/search_account_form.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{% url 'add_item_group' %}" class="btn btn-primary mb-3" target="_blank">Add Item Group</a>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h2>Company Item Groups</h2>
        </div>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% sort_links request 'company_items' 'name' 'Name' %}</th>
                <th scope="col">{% sort_links request 'company_items' 'record_count' 'Pieces' %}</th>
                <th scope="col">{% sort_links request 'company_items' 'user__first_name' 'User' %}</th>
                <th scope="col">{% sort_links request 'company_items' 'company__name' 'Company' %}</th>
                <th scope="col">{% sort_links request 'company_items' 'created' 'Created' %}</th>
                <th scope="col">{% sort_links request 'company_items' 'updated' 'Updated' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in company_item_groups %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ group.name }}</td>
                <td>{{ group.record_count }}</td>
                <td>{{ group.user.first_name }} {{ group.user.last_name }}</td>
                <td>{{ group.company.name }}</td>
                <td>{{ group.created|date:"d.m.Y H:i" }}</td>
                <td>{{ group.updated|date:"d.m.Y H:i" }}</td>
                
                <td>
                    <a href="{% url 'item_group_detail' group.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'edit_item_group' group.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete_item_group' group.pk %}" class="btn btn-danger btn-sm" target="_blank"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No item groups found for your company.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}
    
    <div class="row">
        <div class="col-12 text-center">
            <h3>Free Revision Records</h3>
        </div>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% sort_links request 'free_records' 'revision_data__lifetime_of_ppe__manufacturer__name' 'Manufacturer' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'revision_data__type_of_ppe__group_type_ppe' 'Group Type' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'revision_data__name_ppe' 'Name PPE' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'serial_number' 'Serial Number' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'date_manufacture' 'Date of Manufacture' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'date_of_first_use' 'Date of First Use' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'date_of_revision' 'Date of Revision' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'date_of_next_revision' 'Date of Next Revision' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'verdict' 'Verdict' %}</th>
                <th scope="col">{% sort_links request 'free_records' 'notes' 'Notes' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in company_free_revision_records %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ record.revision_data.lifetime_of_ppe.manufacturer.name }}</td>
                <td>{{ record.revision_data.type_of_ppe.group_type_ppe }}</td>
                <td>{{ record.revision_data.name_ppe }}</td>
                <td>{{ record.serial_number }}</td>
                <td>{{ record.date_manufacture }}</td>
                <td>{{ record.date_of_first_use }}</td>
                <td>{{ record.date_of_revision }}</td>
                <td>{{ record.date_of_next_revision }}</td>
                <td>{{ record.get_verdict_display }}</td>
                <td>{{ record.notes }}</td>
                <td>
                    <a href="{% url 'revision_record_detail' record.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'edit_revision_record' record.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="12" class="text-center">No free revision records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "includes/pagination.html" %}
</div>
{% endblock %}