{% extends "base.html" %}
{% load sort_tags %}
{% block title %}Item Group{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Item group detail</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>{{ object.name }}</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        {% if object.photo %}
                        <dt class="col-sm-4">Photo</dt>
                        <dd class="col-sm-8">
                            <img src="{{ object.photo.url }}" alt="{{ object.name }} Logo"
                                 class="img-fluid mb-3" style="max-width: 200px;">
                        </dd>
                        {% endif %}
                        <dt class="col-sm-4">Group_name</dt>
                        <dd class="col-sm-8 border-bottom pb-2">{{ object.name }}</dd>
                        <dt class="col-sm-4">Company</dt>
                        <dd class="col-sm-8 border-bottom pb-2">{{ object.company }}</dd>
                        <dt class="col-sm-4">User</dt>
                        <dd class="col-sm-8 border-bottom pb-2">{{ user_full_name }}</dd>
                        <dt class="col-sm-4">Created</dt>
                        <dd class="col-sm-8 border-bottom pb-2">{{ object.created }}</dd>
                        <dt class="col-sm-4">Updated</dt>
                        <dd class="col-sm-8 border-bottom pb-2">{{ object.updated }}</dd>
                        <dt class="col-sm-4">Number of Items</dt>
                        <dd class="col-sm-8 border-bottom pb-2">{{ revision_records.count }} ks</dd>
                    
                        <!-- You can add additional model attributes if they exist -->
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-secondary" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> <!-- Ikona šipky zpět -->
                    </button>
                    <a href="{% url 'edit_item_group' object.pk %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete_item_group' object.pk %}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3>Revision Records in this Group</h3>
            {% include 'includes/search_account_form.html' %}
        </div>
        <div class="col-12 col-md-6">
            <a href="{% url 'add_revision_record' %}" class="btn btn-primary mb-3">Add Revision record</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% sort_link request 'revision_data__lifetime_of_ppe__manufacturer__name' 'Manufacturer' %}</th>
                <th scope="col">{% sort_link request 'revision_data__type_of_ppe__group_type_ppe' 'Group Type' %}</th>
                <th scope="col">{% sort_link request 'revision_data__name_ppe' 'Name PPE' %}</th>
                <th scope="col">{% sort_link request 'serial_number' 'Serial Number' %}</th>
                <th scope="col">{% sort_link request 'date_manufacture' 'Date of Manufacture' %}</th>
                <th scope="col">{% sort_link request 'date_of_first_use' 'Date of First Use' %}</th>
                <th scope="col">{% sort_link request 'date_of_revision' 'Date of Revision' %}</th>
                <th scope="col">{% sort_link request 'date_of_next_revision' 'Date of Next Revision' %}</th>
                <th scope="col">{% sort_link request 'verdict' 'Verdict' %}</th>
                <th scope="col">{% sort_link request 'notes' 'Notes' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in revision_records %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ record.revision_data.lifetime_of_ppe.manufacturer.name }}</td>
                <td>{{ record.revision_data.type_of_ppe.group_type_ppe }}</td>
                <td>{{ record.revision_data.name_ppe }}</td>
                <td>{{ record.serial_number }}</td>
                <td>{{ record.date_manufacture }}</td>
                <td>{{ record.date_of_first_use }}</td>
                <td>{{ record.date_of_revision }}</td>
                <td>{{ record.date_of_next_revision }}</td>
                <td>{{ record.get_verdict_display }}</td>
                <td>{{ record.notes }}</td>
                <td>
                    <a href="{% url 'revision_record_detail' record.pk %}" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'edit_revision_record' record.pk %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No records found in this group.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}

</div>
{% endblock %}