{% extends "base.html" %}
{% load sort_tags %}
{% block title %}Item Group{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ item_group.name }}</h2>
    {% include 'includes/search_account_form.html' %}
    {# <img src="{{ item_group.photo.url }}" alt="Group Photo" class="img-fluid mb-3" style="max-width: 150px;"> #}

    <p>Company: {{ item_group.company }}</p>
    <p>User: {{ item_group.user }}</p>
    <p>Created: {{ item_group.created }}</p>
    <p>Updated: {{ item_group.updated }}</p>
    
    <div class="row mt-4">
        <div class="col-12">
            <h3>Number of Items in Group: {{ revision_records.count }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h2>Revision Records in this Group</h2>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% sort_link request 'revision_data__lifetime_of_ppe__manufacturer__name' 'Manufacturer' %}</th>
                <th scope="col">{% sort_link request 'revision_data__type_of_ppe__group_type_ppe' 'Group Type' %}</th>
                <th scope="col">{% sort_link request 'revision_data__name_ppe' 'Name PPE' %}</th>
                <th scope="col">{% sort_link request 'serial_number' 'Serial Number' %}</th>
                <th scope="col">{% sort_link request 'date_manufacture' 'Date of Manufacture' %}</th>
                <th scope="col">{% sort_link request 'date_of_first_use' 'Date of First Use' %}</th>
                <th scope="col">{% sort_link request 'date_of_revision' 'Date of Revision' %}</th>
                <th scope="col">{% sort_link request 'date_of_next_revision' 'Date of Next Revision' %}</th>
                <th scope="col">{% sort_link request 'verdict' 'Verdict' %}</th>
                <th scope="col">{% sort_link request 'notes' 'Notes' %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in revision_records %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ record.revision_data.lifetime_of_ppe.manufacturer.name }}</td>
                <td>{{ record.revision_data.type_of_ppe.group_type_ppe }}</td>
                <td>{{ record.revision_data.name_ppe }}</td>
                <td>{{ record.serial_number }}</td>
                <td>{{ record.date_manufacture }}</td>
                <td>{{ record.date_of_first_use }}</td>
                <td>{{ record.date_of_revision }}</td>
                <td>{{ record.date_of_next_revision }}</td>
                <td>{{ record.get_verdict_display }}</td>
                <td>{{ record.notes }}</td>
                <td>
                    <a href="{% url 'revision_record_detail' record.pk %}" class="btn btn-info btn-sm">View</a>
                    <a href="{% url 'edit_revision_record' record.pk %}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No records found in this group.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}

</div>
{% endblock %}