<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">🏠︎</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'revision_home' %}">Revision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href= "{% url 'contact' %}" >Contact</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ms-auto" style="display: grid; grid-auto-flow: column; gap: 0.4rem;">
{% if user.is_authenticated %}
        
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'item_group_user_list' %}" style="padding: 0; display: inline-block;">User Item groups</a>
                </li>
                <li class="nav-item" style="padding: 0 0.2rem;">
                    |
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'item_group_company_list' %}" style="padding: 0; display: inline-block;">Company Item groups</a>
                </li>
        
        {% if user.is_superuser or is_revision_technician %}
                <li class="nav-item" style="padding: 0 0.2rem;">
                    |
                </li>
                <li class="nav-item">
            
                <a class="nav-link" href="{% url 'company_list' %}" style="padding: 0; display: inline-block;">Companies</a>
                
                </li>
        {% endif %}
                <li class="nav-item" style="padding: 0 0.2rem;">
                    |
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}" style="padding: 0; display: inline-block;">Profile</a>
                </li>
                <li class="nav-item" style="padding: 0 0.2rem;">
                    |
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link" style="padding: 0; border: none; background: none;"> Logout</button>
                    </form>
                </li>
            {% else %}

                <li class="nav-item" >
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </li>

            {% endif %}
            </ul>
    </div>
</nav>
